<mat-grid-list cols="4"
               rowHeight="140px"
               [gutterSize]="'5px'">
  <mat-grid-tile
    *ngFor="let model of models"
    [colspan]="2"
    [rowspan]="2"
    [style.background]="model.couleur">


    <div class="card ">
      <div class="container center">
        <h4><b>{{model.name}}</b></h4>
        <p>Version {{model.version}}</p>
      </div>
      <img class="card-image center" src="{{model.url}}" alt="{{model.name}}"/>
      <div class=" center">
        <button style="width: 100%" mat-raised-button color="warn">Delete</button>
      </div>

    </div>

  </mat-grid-tile>

  <mat-grid-tile>
    <div class="card ">
      <div class="container center">
        <img (click)="createModel()" mat-card-image class="card-image" src="../../assets/img/marker-30.png"
             alt="Add model"/>
      </div>
    </div>
  </mat-grid-tile>

</mat-grid-list>
