<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput
           placeholder="Add a version"
           formControlName="description">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select a model</mat-label>
    <mat-select>
      <mat-option *ngFor="let model of models" [value]="model.name">
        {{model.version}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="onNoClick()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="onNoClick()">Save</button>
</mat-dialog-actions>
